<header class="!space-y-0 !mb-12">
  <h1 class="mb-0">Events</h1>
  <p>Japanese language events. Offline and online.</p>
</header>

<section>
  <div class="container flex gap-4">
    <% @events.each do |event| %>
        <div class="shadow-md rounded-xl pb-4 mb-8 transition-all hover:shadow-lg">
          <div class="h-52 overflow-hidden rounded-t-xl">
            <%= image_tag(event.image, class: "mt-0 h-full w-full object-cover object-bottom") %>
          </div>
          <div class="m-8">
            <h2 class="my-0"><%= event.title %></h2>
            <div>
              <span><b>When:</b> <%= event.date %> @ <%= event.time %></span> | <span><b>Where:</b> <%= event.location %></span>
              <p class="leading-relaxed"><%= event.description %></p>
            </div>
            <%= link_to "View Event", event_path(event), class: "bg-red-500 mx-auto block no-underline transition-all text-center px-4 py-1 rounded-lg text-white border-2 border-red-500 hover:bg-white hover:text-red-500" %>
          </div>
        </div>
    <% end %>
  </div>
</section>

<%= link_to "Add new event", new_event_path, class: "bg-red-600 text-white no-underline px-8 py-4 leading-none rounded-full fixed right-4 bottom-4" %>
