<div class="h-52 overflow-hidden">
  <%= image_tag(@event.image, class: "mt-0 h-full w-full object-cover object-bottom") %>
</div>
<h2><%= @event.title %></h2>
<div>
  <span><b>When:</b> <%= @event.date %> @ <%= @event.time %></span> | <span><b>Where:</b> <%= @event.location %></span>
  <p class="leading-relaxed"><%= @event.description %></p>
</div>
